@tailwind base;
@tailwind components;
@tailwind utilities;

/* Остальной код... */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 7;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Скроллбар в стиле Cyberpunk */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}